body {
    background-image: url('20221010_025125_0000.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    text-align: left;
    margin: 50px;
    margin-left: 80px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex-container> .two {
width: 50px;
margin: 5%;
text-align: center;
line-height: 100%;
font-size: 30px;
}

.flex-container> .one {
    width: 50%;
    margin-right: 4%;
    margin-top: 80px;
    padding-right: 0%;
}

img {
    width: 90%;
    height: 700px;
    float: right;
    margin-right: 0.5px;
    margin-left: 0% ;
}

.two1 {
    font-size: 200%; 
    text-align: left;
    color: brown;
    margin-bottom: 0px;
    margin-top: 100px;
    padding-left: 120px;
}

.two2 {
    font-size: 200%;
    text-align: left;
    border-top: 0cm;
    margin: 4px;
    margin-bottom: 100px;
    padding-left: 120px;
}

p {
    color: brown;
    font-size: 20px;
    text-align: left;
    float: left;
    display: flex;
    width: 1000%;
    padding-left: 120px;
    
}

.two {
    width: 70%; 
}

.one {
    
    width: 100px;
    padding: 27%;
    padding-top: 0%;
}

input {
    background-color: antiquewhite;
    color: black;
    font-size: 25px;
    float: left;
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0%;
    margin-left: 120px;
    border-radius: 20%;
}

.button {
    display: inline-block;
    cursor: pointer;
    background-color: brown;
    font-size: 100%;
    border-radius: 30%;
    box-shadow: 0 0px #999;
    transition-duration: 0.4s;
    margin-left: 120px;
    margin-bottom: 0;
}

.botton:hover {
    background-color: black;
    color: aliceblue;
}

.botton:active {
    background-color: black;
    box-shadow: 0 5px grey;
    transform: translate(4px);
}

.footer {
    padding: 4px;
    text-align: center;
    background: grey;
    margin-top: 0%;
    margin-bottom: 3%;
    font-size: 20px;
  }




/* RESPONSIVE DESIGN-mobile VIEW(768PX & 991PX) */
@media screen and (max-width:768) {
    .body {
        margin: 0%;
        width: 100%;
        }

    .flex-container {
        display: block;
    }  
    
    

    
    
    }

