body {
    background-image: url('20221010_025125_0000.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}
h1 {
    text-align:left;
    margin: 30px;
}
.two1 {
    font-size: 300%; 
    text-align: center;
    color: brown;
    border-bottom: 1.5px;
    
}

img {
    width: 50%;
    height: 900%;
    float: right;
    margin-left: 216px;
}

.two2 {
    font-size: 400%;
    text-align: left;
    border-top: 0cm;
}

p {
    color: brown;
    font-size: 50px;
    text-align: left;
    float: left;
    display: block;
    border-left: 50%;
}

.two {
    width: 50px; 
    overflow: auto;
    float: left;

}

.img,.two1, .two2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    width: 50%;
}

input {
    background-color: greenyellow;
    color: red;
    font-size: 50px;
    float: left;
       
}

/* RESPONSIVE DESIGN-mobile VIEW(768PX & 991PX) */
@media screen and (max-width:768) {
    #two{
        gap: 30px;
        padding: 3%;
        text-align: center;
    }

    p {
        text-align: center;
    }

    .img {
        width: 100%;
        float: none;
        height: 600px;

    }
    .h1 {
       float: left;
    }
}

